.collection-item {
    height: 350px;
    width: 22vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .item-preview {
        height: 95%;
        width: 100%;
        background-position: center;
        background-size: cover;
        margin-bottom: 5px;
    }

    .item-title {
        height: 5%;
        width: 100%;
        display: flex;
        font-size: 18px;
        justify-content: space-between;

        .item-price {
            width: 10%;
        }
    
        .item-name {
            width: 90%;
            margin-bottom: 15px;
        }
    }

    .custom-button {
        width: 80%;
        opacity: 0.7;
        display: none;
        position: absolute;
        top: 220px;
    }

    &:hover {

        .item-preview {
            opacity: 0.8;
        }

        .custom-button {
            opacity: 0.85;
            display: flex;
        }
    }
}