.cart-dropdown {
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: absolute;
    top: 80px;
    right: 40px;
    z-index: 5;
    background-color: white;
    border: 1px solid black;

    .empty-message {
        font-size: 20px;
        margin: 50px auto;
    }
    .cart-items {
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-end;
        overflow: scroll;
    }

    button {
        margin-top: auto;
    }
}